## IP2

**Joey Gladys**

**Spring 2022**

**Version 1.0**

In [1]:
import pandas as pd

### 1. Read the file into a dataset named "df"

In [2]:
df = pd.read_csv('weather_2012.csv')

### 2.	Write the code to display the first five rows of the dataset, the last five rows of the dataset and a sample of five random rows from the dataset.

In [3]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [5]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
3728,2012-06-04 08:00:00,11.6,8.3,80,24,19.3,100.55,Rain
188,2012-01-08 20:00:00,-8.3,-13.7,65,15,25.0,102.28,Mostly Cloudy
3534,2012-05-27 06:00:00,14.2,2.4,45,17,24.1,101.92,Mostly Cloudy
3493,2012-05-25 13:00:00,27.2,17.5,55,28,24.1,100.97,Mostly Cloudy
1194,2012-02-19 18:00:00,-2.9,-9.8,59,13,48.3,101.39,Clear

### 3.	Write the code to display a list of all of the columns in the dataset.

In [6]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

### 4. Rename columns according to this list {date_time, temp_c, dew_point, relative_humidity, wind_speed, visibility, pressure, and weather}.

In [7]:
col_names = [
    'date_time',
    'temp_c',
    'dew_point',
    'relative_humidity',
    'wind_speed',
    'visibility',
    'pressure',
    'weather'
]

In [8]:
ori_col_names = list(df.columns)

In [9]:
df.columns = col_names

In [10]:
df.head()

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [11]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

### 5.	Most of the data in the dataset are numerical, write the code to get some standard statistics for each column (e.g. count, mean, etc.)

In [12]:
df.count()

date_time            8784
temp_c               8784
dew_point            8784
relative_humidity    8784
wind_speed           8784
visibility           8784
pressure             8784
weather              8784
dtype: int64

In [13]:
df.mean()

temp_c                 8.798144
dew_point              2.555294
relative_humidity     67.431694
wind_speed            14.945469
visibility            27.664447
pressure             101.051623
dtype: float64

In [14]:
df.median()

temp_c                 9.30
dew_point              3.30
relative_humidity     68.00
wind_speed            13.00
visibility            25.00
pressure             101.07
dtype: float64

In [35]:
df.max()

date_time               2012-12-31 23:00:00
temp_f                                 91.4
temp_c                                 33.0
dew_point                              24.4
relative_humidity                       100
wind_speed                               83
visibility                             48.3
pressure                             103.65
weather              Thunderstorms,Rain,Fog
dtype: object

### 6.	Write the code to add a column named temp_f to the dataset that contains the temperature from temp_c represented in Fahrenheit.

In [15]:
df['temp_f'] = (df.temp_c * 1.8 + 32)

In [16]:
df['temp_f']

0       28.76
1       28.76
2       28.76
3       29.30
4       29.30
        ...
8779    32.18
8780    32.36
8781    31.10
8782    31.64
8783    32.00
Name: temp_f, Length: 8784, dtype: float64

### 7.	Write the code to rearrange the columns in the dataset so temp_f appears immediately before temp_c.

In [17]:
df.columns

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather', 'temp_f'],
      dtype='object')

In [20]:
df = df[['date_time','temp_f','temp_c','dew_point','relative_humidity','wind_speed','visibility','pressure','weather']]

In [21]:
df.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

### 8.	Write the code to display the data types of all the columns in the dataset.

In [22]:
df.dtypes

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

### 9.	You’ll notice that the date_time column is not actually considered a date by Pandas.  Write the code to convert this column to a date/time column. Verify the conversion was successful.

In [23]:
df.date_time = pd.to_datetime(df.date_time)

In [24]:
df.dtypes

date_time            datetime64[ns]
temp_f                      float64
temp_c                      float64
dew_point                   float64
relative_humidity             int64
wind_speed                    int64
visibility                  float64
pressure                    float64
weather                      object
dtype: object

### 10.	Write the code to get a count of the different weather designations in the weather column and display top 10 weather categories.

In [25]:
df.weather.groupby(df.weather).count()

weather
Clear                                      1326
Cloudy                                     1728
Drizzle                                      41
Drizzle,Fog                                  80
Drizzle,Ice Pellets,Fog                       1
Drizzle,Snow                                  2
Drizzle,Snow,Fog                             15
Fog                                         150
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Freezing Drizzle,Haze                         3
Freezing Drizzle,Snow                        11
Freezing Fog                                  4
Freezing Rain                                14
Freezing Rain,Fog                             4
Freezing Rain,Haze                            2
Freezing Rain,Ice Pellets,Fog                 1
Freezing Rain,Snow Grains                     1
Haze                                         16
Mainly Clear                               2106
Moderate Rain,Fog                             1
Moderate Snow                                 4
Moderate Snow,Blowing Snow                    2
Mostly Cloudy                              2069
Rain                                        306
Rain Showers                                188
Rain Showers,Fog                              1
Rain Showers,Snow Showers                     2
Rain,Fog                                    116
Rain,Haze                                     3
Rain,Ice Pellets                              1
Rain,Snow                                    18
Rain,Snow Grains                              1
Rain,Snow,Fog                                 1
Rain,Snow,Ice Pellets                         4
Snow                                        390
Snow Pellets                                  1
Snow Showers                                 60
Snow Showers,Fog                              4
Snow,Blowing Snow                            19
Snow,Fog                                     37
Snow,Haze                                     5
Snow,Ice Pellets                              6
Thunderstorms                                 2
Thunderstorms,Heavy Rain Showers              1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers                   16
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain,Fog                        1
Name: weather, dtype: int64

### 11. Which month of the year, the temp_f more than 90, humidity less than 50 , dew point more than 17, and the weather is clear? Extract that data and save it to a new data frame.

In [36]:
df.max()

date_time               2012-12-31 23:00:00
temp_f                                 91.4
temp_c                                 33.0
dew_point                              24.4
relative_humidity                       100
wind_speed                               83
visibility                             48.3
pressure                             103.65
weather              Thunderstorms,Rain,Fog
dtype: object

### 12.

In [29]:
monthly = df.temp_f.groupby(df.date_time.dt.month)

In [30]:
monthly = pd.DataFrame(month)

In [34]:
monthly['month'] = monthly.index
monthly=monthly[['month','temp_f']]
monthly.index.names = ['']
monthly

KeyError: "['temp_f'] not in index"

### 13.	Save your original dataframe to ‘weather_2012_new.csv’) – ensure your file does not contain the index column of the dataset.

In [ ]:
df.to_csv('weather_2012_new.csv', index = False)